<html>

<head>
    <meta name="theme-color" content="#BA3027" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="icon" href="Assets/ACT_NOW_Logo_(Med).png" type="image/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="retailer_dashboard.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    <link href="Prism/prism 2.css" rel="stylesheet" />
    <title>Integrations | Charity Dashboard</title>

    <script>
        $(document).ready(function () {
            $("body").removeClass("preload");
        });
    </script>

</head>

<body class="preload">

    <div class="wrapper">
        <div id="navBar" class="navbar">
            <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->

            <img src="Assets/ACT NOW - Benefactory.png" height="50px">

            <a href="home_page.html">Home</a>
            <a href="profile_page.html">Profile</a>
            <a class="navbarselected" href="integrations_page.html">Integrations</a>
            <a href="current_campaign.html">Current Campaign</a>
            <a href="past_campaigns.html">Past Campaigns</a>
            <a href="contribution_log.html">Contribution Log</a>
            <a href="transfer_donations.html">Transfer Donations</a>
            <div class="navfooter">
                <a href="help_page.html">Help</a>
                <a id="ared" href="#">Logout</a>
            </div>
        </div>
        <div class="workspace">
            <div class="header">
                <img class="ham_menu" id="hamMenu" onclick="openNav()" src="Assets/ham_menu.svg" height="12px">
                <img class="header_title" src="Assets/integration_header.svg" height="31px">
            </div>
            <div class="workspacecontent">

                <div class="integrations">

                    <div>
                        <span class="bene-light-header">Choose your platform</span>
                    </div>

                    <div class="tabview">
                        <button class="tab" onclick="openDoc(event, 'Shopify')">
                            <img src="Assets/shopify.png">
                            <span>Shopify</span>
                        </button>
                        <button class="tab" onclick="openDoc(event, 'Magento')">
                            <img src="Assets/magento.png">
                            <span>Magento</span>
                        </button>
                        <button class="tab" onclick="openDoc(event, 'Woocommerce')">
                            <img src="Assets/woocommerce.png">
                            <span>Woo Commerce</span>
                        </button>
                        <button class="tab" onclick="openDoc(event, 'Custom')">
                            <!-- <img src="Assets/integrations_icon.png"> -->
                            <span>Custom</span>
                        </button>

                    </div>

                    <!-- <div class="tabview">
                        <div class="tab">
                            <img src="Assets/shopify.png">
                            <span>Shopify</span>
                        </div>
                        <div class="tab" id="magentotab" onclick="intMagento()">
                            <img src="Assets/magento.png">
                            <span>Magento</span>
                        </div>
                        <div class="tab">
                            <img src="Assets/woocommerce.png">
                            <span>Woo Commerce</span>
                        </div>
                        <div class="tab" id="customtab" onclick="intCustom()">
                            <img src="Assets/integrations_icon.png">
                            <span>Custom</span>
                        </div>

                    </div> -->

                    <div class="doc" id="Custom">
                        <p>
                            Our checkout donation plugin is created for a normal e-commerce web application. When a
                            user clicks a checkbox, the contribution amount is get added to cart value. You can
                            implement the same as per your existing cart flow. When the order is successfully placed
                            you need to call Benefactory API to send this contribution details along with
                            transaction_id (customer order_id).
                        </p>
                        <p>
                            We have 3 API’s for retailers so that they can send customers contribution details to
                            Benefactory.
                        </p>
                        <p>
                            When a retailer becomes part of Benefactory, we provide them a CLIENT_ID and
                            CLIENT_SECRET. This data is used as credentials for retailer’s authentication. So
                            retailer has to pass this data with each API call.
                        </p>


                        <p>
                            Followings are the API details:
                        </p>

                        <br>

                        <h3>
                            1. POST v1/paid_contribution
                        </h3>

                        <p>
                            This endpoint is used to send
                            newcontribution to Benefactory. We can integrate this using either form post or javascript
                            ajax method.
                        </p>



                        <script src="Prism/prism.js"></script>

                        <pre><code class="language-java">URL : {baseUrl}/api/v1/paid_contribution

Method : POST

Headers : Content-type : application/json

Parameters : {
    "customer_email": “example@test.com”, //required
    "customer_name":'test', //required
    "customer_contact": ‘’ , //optional,
    "transaction_id": ‘123’,  //required
    "client_id": ‘2’,  //required - provided by benefactory,
    "client_secret": ‘dvhsdvhdsVGS67sdvggtsd’ //required - provided by benefactory
}

Sample Parameters : {
    "customer_email":"preet0989@gmail.com",
    "customer_name":"Preet D",
    "transaction_id":"qwert123",
    "customer_contact":"9757303498",
    "client_id":"1",
    "client_secret":"jpewnsmJstlmr93AaGs4tNDQ7ZjTjNuo18xKSK3p"
}

Success Response :

    Success : {
        "status": "200",
        "message": "Completed Successfully"
    },
    Error Responses : Invalid secret key : {
        "code": 0,
        "httpCode": 403,
        "cause": "Unauthorized Retailer",
        "message": "Please provide valid credentials.",
        "status": "failure",
        "title": "Unauthorized"
    },
    Invalid Parameters : {
        "transaction_id": ["The transaction id field is required."]
    }</code></pre>

                        <br>

                        <h3>
                            2. POST v1/pending_contribution
                        </h3>

                        <h4>
                            (this is for Indian companies where Cashon Delivery is
                            required)
                        </h4>

                        <p>
                            Retailer should call this API if the order is placed with COD (Cash on Delivery) payment
                            option.
                        </p>

                        <pre><code class="language-java">
URL : {baseUrl}/api/v1/pending_contribution
                            
Method : POST

Headers : Content-type : application/json

Parameters : {
    "customer_email": required,
    "customer_name": required,
    "customer_contact": optional,
    "transaction_id": required,
    "client_id": required,
    "client_secret": required
}

Sample Parameters : {
    "customer_email":"preet0989@gmail.com",
    "customer_name":"Preet D",
    "transaction_id":"qwert123",
    "customer_contact":"9757303498",
    "client_id":"1",
    "client_secret":"jpewnsmJstlmr93AaGs4tNDQ7ZjTjNuo18xKSK3p"
}

Response :

Success : {
    "status": "200",
    "message": "Completed Successfully"
},

Invalid secret key : {
    "code": 0,
    "httpCode": 403,
    "cause": "Unauthorized Retailer",
    "message": "Please provide valid credentials.",
    "status": "failure",
    "title": "Unauthorized"
},

Invalid Parameters : {
    "transaction_id": ["The transaction id field is required."]
}</code></pre>
                        <br>

                        <h3>
                            3. POST v1/refund_contribution
                        </h3>

                        <p>
                            This API is used to notify Benefactory that the previous order with contribution has been
                            cancelled and the amount has been refunded.
                        </p>

                        <pre><code class="language-java">
URL : {baseUrl}/api/v1/refund_contribution

Method : POST

Headers : Content-type : application/json

Parameters : {
    "customer_email": optional,
    "customer_name": optional,
    "customer_contact": optional,
    "transaction_id": required,
    "client_id": required,
    "client_secret": required
}

Sample Parameters : {
    "customer_email":"preet0989@gmail.com",
    "customer_name":"Preet D",
    "transaction_id":"qwert123",
    "customer_contact":"9757303498",
    "client_id":"1",
    "client_secret":"jpewnsmJstlmr93AaGs4tNDQ7ZjTjNuo18xKSK3p"
}

Response :

Success : {
    "status": "200",
    "message": "Completed Successfully"
},

Invalid secret key : {
    "code": 0,
    "httpCode": 403,
    "cause": "Unauthorized Retailer",
    "message": "Please provide valid credentials.",
    "status": "failure",
    "title": "Unauthorized"
},

Invalid Parameters : {
    "transaction_id": ["The transaction id field is required."]
}
</code></pre>

                        <br>

                        <h3>
                            4. POST v1/cron_bulk_contribution
                        </h3>

                        <p>
                            This API is used to send contributed transactions in a bulk. You can send old transactions
                            also for which you want to update the contribution status.
                        </p>

                        <pre><code class="language-java">
URL : {baseUrl}/api/v1/cron_bulk_contribution

Method : POST

Headers : Content-type : application/json

Parameters : {
    "donations_log": [{ 
        "customer_email": optional,
        "customer_name": optional,
        "customer_contact": optional,
        "transaction_id": required,
        "is_refunded": required
    },
    {
        "customer_email": optional,
        "customer_name": optional,
        "customer_contact": optional,
        "transaction_id": required,
        "is_refunded": required //whether order is refunded or not
    }],
    "client_id": required,
    "client_secret": required
}

Sample Input :{
    "donations_log": [{
        "customer_email": "preet0989@gmail.com",
        "customer_name": "Vanita D",
        "customer_contact": "9757303498",
        "transaction_id": "test45689",
        "is_refunded": "1"
    },
    {
        "customer_email": "preet0989@gmail.com",
        "customer_name": "Vanita D",
        "customer_contact": "9757303498",
        "transaction_id": "test45699",
        "is_refunded": "0"
    }],
    "client_id": "1",
    "client_secret": "jpewnsmJstlmr93AaGs4tNDQ7ZjTjNuo18xKSK3p"
}

Response :

Success : { 
    "status": "200",
    "message": "Bulk Upload of Order Contribution Completed Successfully"
}

Invalid secret key : {
    "code": 0,
    "httpCode": 403,
    "cause": "Unauthorized Retailer",
    "message": "Please provide valid credentials.",
    "status": "failure",
    "title": "Unauthorized"
},

Invalid Parameters : {
    "transaction_id": ["The transaction id field is required."]
}
</code></pre>

                        <br>

                        <!-- <div>
                            <input id="editButton" class="inputbutton" type="button" value="INTEGRATE" />
                        </div> -->

                    </div>

                    <div class="doc" id="Magento">

                        <h3>
                            STEP 1: Setup Contribution as a Virtual Product in Magento.
                        </h3>

                        <ul type="circle">
                            <li>Go to Products / Catalog and click on Add Product</li>
                            <li>Set the amount which you provide us, product name, sku and visibility
                            </li>
                        </ul>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/magento_1.png">

                        <br>

                        <ul type="disc">
                            <li>Remember to keep tracking inventory as off. Make sure your inventory looks like this:
                            </li>
                        </ul>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/magento_2.png">

                        <br>

                        <ul type="disc">
                            <li>Save your product.
                            </li>
                        </ul>

                        <h3>
                            STEP 2: Modify your cart page
                        </h3>

                        <p>- Add the checkout box code. Make sure to add it only when there are items in the mini-cart /
                            cart page.
                        </p>

                        <script src="Prism/prism.js"></script>

                        <pre><code class="language-markup">&lt;input type="checkbox" id="bf_contribution"/>
&lt;label for="contribution">Contribute Rs. 5 to 
&lt;a target="_blank" href="http://www.benefactory.in">Benefactory&lt;/a>&lt;/label>
</code></pre>

                        <ul type="disc">
                            <li>make sure to clear the following folders:</li>
                            <ul type="circle">
                                <li>pub/static/frontend</li>
                                <li>var/view_processed</li>
                                <li>run the following command</li>
                                <ul type="box">
                                    <li>php bin/magento cache:flush</li>
                                    <li>php bin/magento setup:static-content:deploy</li>
                                </ul>
                            </ul>
                        </ul>

                        <br>

                        <h3>
                            STEP 3: Add the CSS from bf-css-sample.less to _extend.less or wherever you’d like e.g.
                            /benefactory/css/source/_extend.less

                        </h3>

                        <br>

                        <h3>
                            STEP 4: Drag & Drop the Benefactory Module under /app/code and install it by typing the
                            below in the command line
                        </h3>

                        <p>- Change the client id, client secret as per the credentials shared with you in
                            BFOrderRegister
                        </p>

                        <ul type="disc">
                            <li>// this enables the module
                                php bin/magento module:enable Benefactory_BFOrder
                            </li>
                            <li>// this runs the installation and upgrade scripts
                                php bin/magento setup:upgrade
                            </li>
                        </ul>

                        <br>

                        <h3>
                            STEP 5: Add the JS Files - RequireJS-Config to /benefactory/requirejs-config.js and the
                            bf-magento.js file to /benefactory/web/js/bf-magento.js
                        </h3>



                        <!-- <div>
                            <input id="editButton" class="inputbutton" type="button" value="INTEGRATE" />
                        </div> -->

                    </div>

                    <div class="doc" id="Shopify">

                        <h3>
                            STEP 1: Setup Contribution as a product in Shopify.

                        </h3>

                        <ul type="circle">
                            <li>Remember to keep tracking inventory as off. Set the amount which you provide us</li>
                        </ul>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/shopify_1.png">

                        <br>

                        <ul type="disc">
                            <li>Also Add Vendor Type as Benefactory

                            </li>
                        </ul>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/shopify_2.png">

                        <br>

                        <p>
                            Then - Create a new Collection - called ‘All’. This will ensure that the benefactory product
                            doesn’t show up in your catalog.

                            <br><br>

                            Make sure - it looks like the below:

                        </p>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/shopify_3.png">

                        <br>

                        <p>
                            And Save it.
                        </p>

                        <br>

                        <h3>
                            STEP 2: Two lines of text for Checkbox - add this to your cart-template.liquid file

                            <br>

                            (IF YOU
                            DON’T HAVE ACCESS TO THE CODEBASE, FOLLOW THE STEPS AT THE END OF THIS DOCUMENT BEFORE
                            PROCEEDING)

                        </h3>

                        <p>Add these lines to Layout > cart-template.liquid
                        </p>

                        <script src="Prism/prism.js"></script>

                        <pre><code class="language-markup">&lt;input type="checkbox" id="bf_contribution" onclick="bf_contribution_add()" />
&lt;label for="contribution">Contribute Rs. 5 to 
&lt;a target="_blank" href="http://www.benefactory.in">Benefactory&lt;/a>&lt;/label>
</code></pre>

                        <br>

                        <h3>
                            STEP 3: Add this to your theme.liquid so the bf-shopify.js gets copied over
                        </h3>

                        <pre><code class="language-markup">&lt;!--[if (gt IE 9)|!(IE)]>&lt;!-->
&lt;script src="{{ 'bf-shopify.js' | asset_url }}" defer="defer">&lt;/script>
&lt;!--&lt;![endif]-->
&lt;!--[if lte IE 9]>
&lt;script src="{{ 'bf-shopify.js' | asset_url }}">&lt;/script>
&lt;![endif]-->
                          
                                </code></pre>


                        <p>and also add the bf-shopify.js file to your theme > assets folder and the
                            bf-shopify.scss.liquid files to the assets folder
                        </p>
                        <h3>
                            STEP 4: Update the product Variant ID in the assets > bf-shopify.js file above

                        </h3>

                        <ul type="disc">
                            <li>To get the Variant ID, Follow the steps<a
                                    href="https://help.shopify.com/themes/customization/products/find-variant-id">
                                    here.</a><br>

                            </li>
                            <ul type="circle">
                                <li>Go to the contribution product in shopify admin panel and append .xml to the url.
                                    You’ll find the variant id there.
                                </li>

                            </ul>
                        </ul>

                        <h3>
                            STEP 5: (Optional) Hide the Remove Button for the contribution button in the cart
                        </h3>

                        <p>You can do this in layout > cart-template.liquid
                        </p>

                        <ul type="disc">
                            <li>To get the product id:</li>
                            <ul type="circle">
                                <li>Go to the contribution product in shopify admin panel

                                </li>

                            </ul>
                        </ul>

                        <p>Then write this code near the delete or remove button

                        </p>

                        <script src="Prism/prism.js"></script>

                        <pre><code class="language-liquid">{% if item.product_id != 11402984533 %}

{% end if %}
</code></pre>

                        <br>

                        <h3>
                            STEP 6: (Required) Hide the Quantity Picker / Make it non-editable for the quantity picker.

                        </h3>

                        <p>You can do this in layout > cart-template.liquid

                        </p>

                        <ul type="disc">
                            <li>To get the product id:
                            </li>
                            <ul type="circle">
                                <li>Go to the contribution product in shopify admin panel


                                </li>

                            </ul>
                        </ul>

                        <p>Then write this code near the quantity picker


                        </p>

                        <script src="Prism/prism.js"></script>

                        <pre><code class="language-liquid">{% if item.product_id != 11402984533 %}

{% end if %}                                
</code></pre>

                        <br>

                        <h3>
                            STEP 7: Go to Settings > Notifications and scroll to the bottom and add the following web
                            hooks (scroll to the bottom of the page):

                        </h3>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/shopify_4.png">

                        <br>

                        <p>
                            Order Creation <br>
                            Order Payment <br>
                            Order Cancellation <br>
                            Order Update <br>
                            <br>
                            URL:

                            <a
                                href="http://www.benefactory.in/api/v1/shopify_contribute?variant_id=48679630869&client_id=2&client_secret=EGp3dFcKJUSnCBCgWvpNjdXNVsfM5HXseAlO2HIo">Click
                                here.</a>

                            <br><br>
                            (Please replace with the variant id from step 4 and the client id and secret given by
                            Benefactory)

                        </p>

                        <br>

                        <h3>
                            STEP 8: Go to Setting > Checkout (this will reset the pre-check at the cart for the
                            benefactory contribution)


                        </h3>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/shopify_5.png">

                        <br>

                        <p>
                            Scroll down to additional scripts

                        </p>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/shopify_6.png">

                        <br>

                        <p>Copy the following lines to additional scrips and save it: </p>

                        <pre><code class="language-markup">{{ 'bf-shopify.js' | asset_url | script_tag }}
&lt;script>
    {% if first_time_accessed %}
    bf_precheck_reset();
    {% endif %}
&lt;/script>
</code></pre>

                        <br>

                        <h3>
                            STEP 9: Make sure you have a private app created so that the Ajax API can be accessed
                        </h3>

                        <p>
                            Apps > Manage Private Apps > Add a new App

                        </p>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/shopify_7.png">

                        <br>

                        <p>
                            Just follow the steps


                        </p>

                        <br>

                        <h3><i>If you don’t have access to the codebase - you can find the files below</i>
                        </h3>

                        <h3>
                            STEP 1: Click on online store and then themes. Select the customize button from your current
                            theme

                        </h3>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/shopify_8.png">

                        <br>

                        <br>

                        <h3>
                            STEP 2: In the screen below - Click on More Actions and Edit Code
                        </h3>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/shopify_9.png">

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/shopify_10.png">

                        <br>
                        <br>

                        <h3>
                            Step 3: Look for the same files as per the steps above and edit it. You can look at the file
                            explorer below for reference

                        </h3>

                        <p>
                            sections > cart-template.liquid

                        </p>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/shopify_11.png">

                        <br>

                        <p>
                            Layout > theme.liquid


                        </p>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/shopify_12.png">

                        <br>

                        <p>Go to Assets > and click on Add new Asset. Add the bf-shopify.js files and
                            bf-shopify.scss.liquid files here. Then continue to follow the steps in the article.
                        </p>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/shopify_13.png">

                        <br>




                        <!-- <div>
                                <input id="editButton" class="inputbutton" type="button" value="INTEGRATE" />
                            </div> -->

                    </div>

                    <div class="doc" id="Woocommerce">

                        <ul type="disc">
                            <li>Add Benefactory product.</li>
                            <li>In Product data, select “virtual product” option and from the General tab, enter the
                                amount in the regular price input section</li>
                            <li>Click on Inventory, make sure the “sku” is “benefactory_donation”</li>
                            <li>Also, remember to check the “sold individually” section. It should look something like
                                this.</li>
                        </ul>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/woocommerce_1.png">

                        <br>

                        <ul type="disc">
                            <li>Now from the left menu tab, click on Products > All Products.</li>
                            <li>Search for the Benefactory product you just created and note down the ID</li>
                        </ul>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/woocommerce_2.png">

                        <br>

                        <ul type="disc">
                            <li>Step 1: Log in to your WordPress account and make sure you have the plugin called
                                “Beaver
                                Builder” installed.</li>

                        </ul>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/woocommerce_3.png">

                        <br>

                        <ul type="disc">
                            <li>Step 2: After installation of “Beaver Builder”, activate the plugin.</li>

                        </ul>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/woocommerce_4.png">

                        <br>

                        <ul type="disc">
                            <li>Step 3: Go to Pages and click on “cart”. Select the Beaver Builder option.</li>

                        </ul>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/woocommerce_5.png">

                        <br>

                        <ul type="disc">
                            <li>Once on the page, click on the “+” symbol, drag and drop “&lt;> HTML” wherever you’d
                                like
                                the Benefactory checkbox to be, preferably above the cart items.</li>

                        </ul>

                        <br>

                        <img class="doc-pictures" src="Assets/Docs/woocommerce_6.png">

                        <br>

                        <ul type="disc">
                            <li>When the dialog box appears, just paste the following code into it.</li>

                        </ul>

                        <p>Code:</p>

                        <script src="Prism/prism.js"></script>

                        <pre><code class="language-markup">&lt;div>
    &lt;iframe style='width: 400px'
        frameborder='0' 
        scrolling='no' 
        height='120px' 
        src='https://ttstaging.benefactory.in/admin/widgets/retailers/1'>
    &lt;/iframe>
&lt;/div>

&lt;a id="bf_contribution_link" href="/cart?add-to-cart=57">
    &lt;input type="checkbox" id="bf_contribution"/>
&lt;/a>

&lt;label for="contribution">Contribute Rs. 5 to 
    &lt;a target="_blank" href="http://www.benefactory.in">Benefactory&lt;/a>
&lt;/label>
</code></pre>

                        <br>

                        <i><b>Delivery URL:</b>

                            <a
                                href="https://ttdev.benefactory.in/api/v1/wc_contribute?client_id=6&client_secret=lXOTEh4qsFQnTbvitsmwDad1qbXF&sku=benefactory_donation">Click
                                here
                            </a> </i> <br>

                        <i><b>Note:</b> Replace the highlighted client_id and client_secret with the ones
                            provided to
                            you at the time of integration.</i>

                        <br>

                        <i><b>Secret:</b> Will be provided at the time of integration.</i>

                        <br>

                        <ul type="disc">
                            <li>Save Webhook and the integration is complete.
                            </li>

                        </ul>



                    </div>




                </div>



            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(() => {
            $("#editButton").click(() => {
                $("#editModal").fadeIn(150);
            });
            $("#edit-modal-close").click(() => {
                $("#editModal").fadeOut(150);
            });
        });
    </script>

    <script>
        function openDoc(evt, docName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("doc");

            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {}
            document.getElementById(docName).style.display = "grid";
        }
    </script>

    <script>
        function openNav() {
            document.getElementById("navBar").style.width = "300px";
        }

        // function intCustom() {
        //     document.getElementById("int_custom").style.display = "grid";
        //     document.getElementById("customtab").style.fontWeight = "600";
        //     document.getElementById("customtab").style.opacity = "1";
        //     document.getElementById("customtab").style.settings['background-color'] =
        //         "var (--bene-chrome-medium-high)";

        //     document.getElementById("int_magento").style.display = "none";
        //     document.getElementById("magentotab").style.fontWeight = "400";
        //     document.getElementById("magentotab").style.opacity = "0.4";
        // }

        // function intMagento() {
        //     document.getElementById("int_magento").style.display = "grid";
        //     document.getElementById("magentotab").style.fontWeight = "600";
        //     document.getElementById("magentotab").style.opacity = "1";
        //     document.getElementById("magentotab").style.settings['background-color'] =
        //         "var (--bene-chrome-medium-high)";
        //     document.getElementById("int_custom").style.display = "none";
        // }


        // function closeNav() {
        //     document.getElementById("mySidenav").style.width = "0";
        // }
    </script>
</body>

</html>